.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.footer__contacts {
  padding: 0;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.footer__item {
  font-family: "Rajdhani", Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 4px 8px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.footer__item:hover {
  background-color: #21212121;
  transition: 0.3s ease-in-out;
}

.footer__copyright {
  display: flex;
  padding-top: 20px;
  color: #ffffff;
}

@media screen and (max-width: 627px) {
  .footer__item {
    font-size: 13px;
  }
}
