.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.header__nav-container {
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto 20px;
}

.header__nav {
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  position: fixed;
  border: #e1e1e121 solid 1px;
  /*border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;*/
  background-color: #21212120;
  backdrop-filter: blur(25px);
}

.header__logo {
  height: 40px;
}

.header__logo-container {
  padding: 8px 0 0 20px;
}

.header__contact {
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  color: #ffffffbb;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
}

.header__contact:hover {
  background-color: #44d62c20;
  color: #44d62c;
  transition: 0.3s ease-in-out;
}

.header__hirable {
  background-color: #44d62c20;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 4px 8px;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
  border: solid 1px #88fa6f20;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.header__hirable:hover {
  background-color: #44d62c30;
  color: #44d62c;
  transition: 0.3s ease-in-out;
}

.header__hirable_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #44d62c;
}

.header__hirable_text {
  color: #44d62cbb;
  text-decoration: none;
}

.header__nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 12px;
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  font-family: "Rajdhani", Arial, sans-serif;
  font-weight: 400;
  color: #ffffffbb;
}

@media screen and (max-width: 627px) {
  .header__nav-links {
    padding: 8px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    font-size: 12px;
  }

  .header__logo {
    margin: 8px 0 0 0;
    height: 35px;
  }

  .header__nav {
    height: 93px;
    padding-bottom: 23px;
    flex-direction: column;
  }

  .header__nav-container {
    height: 93px;
    padding-bottom: 15px;
  }
}
