.header {
  width: 87.5%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logo {
  margin: 0;
}

.header__contact {
  margin: 0;
}

.header__introduction {
}

@media screen and (max-width: 627px) {
}
