.introduction {
  display: flex;
  flex-direction: row;
  width: 87.5%;
  margin: 0 auto;
}

.introduction__content {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.introduction__img {
  max-width: 175px;
  margin-right: 20px;
  border-radius: 8px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.introduction__title {
  font-family: "Nova Square";
  margin: 0;
  font-size: 72px;
  line-height: 0.57;
  color: #ffffffbb;
}

.introduction__title_nickname {
  font-size: 32px;
}

.introduction__subtitle {
  font-family: "Nova Square";
  font-weight: 750;
  font-size: 26px;
  line-height: 1.25;
  margin: 30px 0 0 0;
  color: #ffffffbb;
}

.introduction__body {
  font-family: "Rajdhani", Arial, sans-serif;
  margin: 15px 0 0 0;
  color: #ffffffbb;
}

@media screen and (max-width: 627px) {
  .introduction {
    flex-direction: column;
  }

  .introduction__title {
    line-height: 0.86;
    font-size: 48px;
    margin-top: 15px;
    text-align: center;
  }

  .introduction__subtitle {
    margin: 15px 0 0 0;
  }

  .introduction__img {
    max-width: 90%;
    margin: 0 auto;
  }

  .introduction__content {
    text-align: center;
  }
}
