.introduction {
  display: flex;
  flex-direction: row;
  width: 87.5%;
  height: 700px;
  margin: 0 auto;
  align-items: center;
}

.introduction__content {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.introduction__img {
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
  border-radius: 8px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.introduction__title {
  font-family: "Nova Square";
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 72px;
  line-height: 0.57;
  color: #ffffffbb;
}

.introduction__body {
  font-family: "Rajdhani", Arial, sans-serif;
  font-size: 30px;
  margin: 15px 0 0 0;
  color: #ffffffbb;
}

@media screen and (max-width: 768px) {
  .introduction {
    flex-direction: column;
  }

  .introduction__title {
    line-height: 0.86;
    font-size: 42px;
    margin-top: 15px;
    text-align: center;
  }

  .introduction__body {
    font-size: 18px;
  }

  .introduction__img {
    max-width: 90%;
    margin: 0 auto;
  }

  .introduction__content {
    text-align: center;
  }
}
