.introduction {
    display: flex;
    flex-direction: row;
}

.introduction__content {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.introduction__img {
    height: 400px;
    width: 400px;
}