.modal {
  visibility: hidden;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(50px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.modal__img-container {
  position: relative;
  align-self: center;
  max-width: 80vw;
  max-height: 80vh;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  border: none;
  border-radius: 8px;
}

.modal__close-btn {
  background: #21212121 url("../images/close-icon-light.svg") center;
  backdrop-filter: blur(5px);
  border: #e1e1e121 solid 1px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s ease-in-out;
}

.modal__close-btn:hover {
  background: #21212175 url("../images/close-icon-light.svg") center;
  transition: 0.3s ease-in-out;
}

.modal__caption-bg {
  background-color: #21212121;
  backdrop-filter: blur(5px);
  padding: 4px 8px;
  border: #e1e1e121 solid 1px;
  border-radius: 8px;
  width: fit-content;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.modal__caption {
  font-family: "Rajdhani", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.modal__caption-gear {
  font-family: "Rajdhani", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffffaa;
}

@media screen and (max-width: 627px) {
  .modal__container {
    max-width: 300px;
  }

  .modal__form {
    margin: 12px;
  }

  .modal__close-btn {
    top: 10px;
    right: 25px;
  }

  .modal__img-container {
    padding: 0 16px;
  }

  .modal__caption-bg {
    bottom: -50px;
    left: 15px;
  }
}
