.page {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #40826d;
  font-family: "Metrophobic", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.page__divider {
  border-bottom: #ffffff solid 2px;
  width: 90%;
  margin: 20px auto;
}
