.page {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #212121;
}

.page__divider {
    border-bottom: #ffffff solid 2px;
}